body {
	font-family: 'Raleway', sans-serif;
	color: rgb(3, 3, 3);
	text-shadow: 1px 1px 15px rgb(100,200,350);
	background:


	linear-gradient(
		rgba(78, 237, 168, .75),
		rgba(131, 155, 235, .45)
		),
	
	url(./images/bg-img.jpg);


	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
}


main {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	display: flex;
	align-items: center;
	width: 75%;

}

.overview{
	padding:10rem;

}

.fullname{
	font-weight: 300;
	letter-spacing: 3px;
	margin-bottom: .5rem;
}

.job-title{
	color:rgb(235, 237, 128);
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: .75rem;
	margin-bottom: 1rem;
	font-weight: bolder;
}

hr{
	width: 5rem;
	border: none;
	height:2px;
	background-color: steelblue;
	margin:1.5rem 0;

}

.description {
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
}
.works h2{
	font-weight: 300;
	letter-spacing: 3px;
	margin-bottom: 1rem;
	color: red;
}

.works img {
	width: 60px;
	height: 60px;
	object-fit:cover;
}

.social-media a {
	color: rgb();
	margin: 0 .5rem;
	font-size:1.5rem;
	opacity: .75;

}
.social-media a:hover {
	opacity:1;
}

.ad {
	margin:.5rem;
	font-size: 1rem;
}


.image-container {
	width: 100%;
	padding:3rem;
}

.image-container img {
	object-fit: cover;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin:auto;
	display: block;
}